---
import { getCollection } from 'astro:content';
import StyledDate from '../../components/date.astro';


const posts = (await getCollection('blog')).sort(
    (a, b) => b.data.updatedAt.valueOf() - a.data.updatedAt.valueOf()
);
---

<div class="posts-page page-shell">
    <header class="page-header">
        <h1>My very cool blog</h1>
        <p class="tagline">Make this unique!</p>
    </header>

    {posts.length === 0 && <p class="empty">No posts yet :(</p>}

    <div class="posts">
        {posts.map((post) => (
            <article class="post-card">
                <a href={`/posts/${post.id}`} class="title-link">
                    {post.data.title}
                </a>
                <p class="description">{post.data.description}</p>
                <p class="meta">
                    Updated on <StyledDate date={post.data.updatedAt} />
                </p>
            </article>
        ))}
    </div>
</div>