@import "tailwindcss";

@font-face {
  font-family: "Brockmann";
  src: url("/fonts/brockmann.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-brand: "Brockmann", Tahoma, sans-serif;
  --font-mono: "Space Mono", monospace;
}

::selection {
  @apply bg-yellow-800/40 text-yellow-50;
}

::-moz-selection {
  @apply bg-yellow-200/80 mix-blend-difference;
}
