@import "tailwindcss";

@font-face {
  font-family: "Brockmann";
  src: url("/fonts/brockmann.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-brand: "Brockmann", Tahoma, sans-serif;
  --font-mono: "Space Mono", monospace;
}
